################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/
/src/MercadoPago.NetCore.Model/bin/
/src/MercadoPago.NetCore.Model/obj
/src/moisesToolkit.MercadoPago.NetCore/bin
/src/moisesToolkit.MercadoPago.NetCore/obj
/test/moisesToolkit.MercadoPago.NetCore.Tests/bin
/test/moisesToolkit.MercadoPago.NetCore.Tests/obj
/sample/moisesToolkit.MercadoPago.NetCore.Sample/bin
/sample/moisesToolkit.MercadoPago.NetCore.Sample/obj
