################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/MercadoPago.NetCore.Model/bin/Debug/netstandard2.0
/.vs/MercadoPago.NetCore/v16
/src/MercadoPago.NetCore.Model/obj
